process {
    withName: 'RUN_ALPHAFOLD2|RUN_ALPHAFOLD2_PRED' {
        cpus = 4
        memory = 12.GB
        queue = 'NextflowGPU'
        containerOptions = '--gpus all'
        container = 'quay.io/nf-core/proteinfold_alphafold2_standard:1.1.1'
    }
}

aws.batch.cliPath = '/usr/local/aws-cli/v2/current/bin/aws'
aws.batch.volumes = ['/var/run/docker.sock:/var/run/docker.sock:ro']